.header {
  margin-bottom: 50px;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;

  > :nth-child(1) {
    flex: 1 1 25%;
  }

  > :nth-child(2) {
    flex: 1 1 50%;
    max-width: 395px;
  }

  > :nth-child(3) {
    flex: 1 1 25%;
    display: flex;
    justify-content: flex-end;
  }
}

@media (max-width: 991px) {
  .inner {
    flex-wrap: wrap;

    > :nth-child(2) {
      flex: 0 0 100%;
      max-width: initial;
      order: -1;
    }
  }
}
